@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .my-btn {
    /* ... */
    background-image: linear-gradient(to right, #E500F8 0%, #7100F0 100%);
    padding: 3px 15px;
    text-align: center;
    color: white;
    border-radius: 5px;
    display: flex;
  }
  .create-btn{
    background-image: linear-gradient(to right, #E500F8 0%, #7100F0 100%);
    padding: 7px 15px;
    text-align: center;
    color: white;
    border-radius: 2px;
    display: flex;
  }
  .custom-color{
    background-image: linear-gradient(to right, #E500F8 0%, #7100F0 100%);
  }
  .font-color{
    color:#A200AE
  }
  .text-custom{
        background: -webkit-linear-gradient(#E500F8, #7100F0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  .bg-color{
    background-color:#F5F5F5
  }
}

